<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.incc.softwareproject.socialngatutor">

    <!-- Internet permission -->
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission
        android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        android:maxSdkVersion="18" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".AfterLoginActivity" />
        <activity
            android:name=".SignUpActivity"
            android:label="@string/title_activity_sign_up"
            android:parentActivityName=".MainActivity"
            android:theme="@style/AppTheme">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.incc.softwareproject.socialngatutor.MainActivity" />
        </activity>
        <activity android:name=".LoginProcessActivity" />
        <activity
            android:name=".SignUpProcessActivity"
            android:label="@string/title_activity_main2"
            android:parentActivityName=".MainActivity"
            android:theme="@style/AppTheme">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.incc.softwareproject.socialngatutor.MainActivity" />
        </activity>
        <activity
            android:name=".ProfileActivity"
            android:label="@string/title_activity_profile"
            android:theme="@style/AppTheme">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.incc.softwareproject.socialngatutor.AfterLoginActivity" />
        </activity>
        <activity
            android:name=".PostActivity"
            android:theme="@style/AppTheme">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.incc.softwareproject.socialngatutor.AfterLoginActivity" />
        </activity>
        <activity
            android:name=".SearchActivity"
            android:label="@string/title_activity_search"
            android:parentActivityName=".AfterLoginActivity"
            android:theme="@style/AppTheme">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.incc.softwareproject.socialngatutor.AfterLoginActivity" />
        </activity>
        <activity
            android:name=".PostViewActivity"
            android:label="@string/title_activity_post_view"
            android:theme="@style/AppTheme">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.incc.softwareproject.socialngatutor.AfterLoginActivity" />
        </activity>
        <activity
            android:name=".EventViewActivity"
            android:theme="@style/AppTheme">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.incc.softwareproject.socialngatutor.AfterLoginActivity" />
        </activity>
        <activity
            android:name=".ShareActivity"
            android:theme="@style/AppTheme">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.incc.softwareproject.socialngatutor.AfterLoginActivity" />
        </activity>
        <activity
            android:name=".SettingsActivity"
            android:theme="@style/AppTheme">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.incc.softwareproject.socialngatutor.AfterLoginActivity" />
        </activity>
        <activity
            android:name=".AboutActivity"
            android:theme="@style/AppTheme">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.incc.softwareproject.socialngatutor.AfterLoginActivity" />
        </activity>
        <activity
            android:name=".EditProfileActivity"
            android:theme="@style/AppTheme">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.incc.softwareproject.socialngatutor.AfterLoginActivity" />
        </activity>
        <activity
            android:name=".RequestActivity"
            android:theme="@style/AppTheme">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.incc.softwareproject.socialngatutor.AfterLoginActivity" />
        </activity>

        <service android:name=".services.PostService" />
        <service android:name=".services.FollowService" />
        <service android:name=".services.CommentService" />
        <service android:name=".services.NotificationService" />
        <service android:name=".services.UpvoteService" />
        <service android:name=".services.MentionService" />
        <service android:name=".services.ReportService" />
        <service android:name=".services.RequestService" />
        <service android:name=".services.ApproveService" />
        <service android:name=".services.DeleteService" />

        <receiver android:name=".alarm.AlarmManagerBroadcastReceiver" />

        <activity android:name=".CommentActivity" />
        <activity android:name=".CalendarActivity" />
        <activity
            android:name=".CollegeActivity"
            android:label="@string/title_activity_discover"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".CourseActivity"
            android:label="@string/title_activity_course"
            android:parentActivityName=".CollegeActivity"
            android:theme="@style/AppTheme">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".CollegeActivity" />
        </activity>
        <activity
            android:name=".DiscoverActivity"
            android:label="@string/title_activity_discover"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".ReportActivity"
            android:label="@string/title_activity_report"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".EditPostActivity"
            android:label="@string/title_activity_edit_post"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".ViewAllPostActivity"
            android:label="@string/title_activity_view_all_post"
            android:theme="@style/AppTheme"></activity>
    </application>

</manifest>
